.admintitle {
    background-color: #d35400;
    color: white;
    height: 140px;
    line-height: 140px;
    margin-left: 50px;
    margin-right: 50px;
}

.admintitle h2 a {
    text-decoration: none;
}

.admindashboard {
    background-color: #00cec9;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    height: 150px;
    padding-top: 70px;
}

.admindashboard table tr td a {
    text-decoration: none;
}

.adminSubTitle {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}